<h2>Delete feed?</h2>


<form method="post" id="delete-feed-form">
    <input type="hidden" name="feed_id" value="{{ feed_id }}">
    <button type="submit" class="radius button alert delete">Delete</button>
    <a href="#" class="button radius secondary cancel">Cancel</a>
</form>

