{% extends "base.html.twig" %}
{% block content %}
    <h2>Something went wrong {% if error_code %}<em>{{ error_code }}</em>{% endif %}</h2>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}
