{% extends "base.html.twig" %}
{% block content %}
    <div id="rss-modal" class="reveal-modal" data-reveal>

    </div>

    <hr>

    <h2>Add your RSS feeds below</h2>
    <form method="post" id="feed-form">
        <div class="row">
            <div class="small-12 large-6 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" placeholder="URL" name="url">
                    </div>

                    <div class="small-2 columns">
                        <button type="submit" class="postfix">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <hr>
    <div id="my-feeds">
        {% include 'myfeeds.html.twig' %}
    </div>

    <div id="public-feeds">
        {% include 'publicfeeds.html.twig' %}
    </div>






{% endblock %}

{% block js %}
    <script>
        $('document').ready(function ($) {
            $("#feed-form").submit(function (event) {
                var url = "/ajax/addfeed";
                var data = $('#feed-form').serialize();
                $.post(url, data)
                        .success(function (data) {
                            data = JSON.parse(data);
                            if (data.success) {
                                alert(data.success);
                                loadPublicFeeds(10);
                                loadMyFeeds(10);

                            }
                            else if (data.error) {
                                alert(data.error);
                            }

                        });
                event.preventDefault();
            });
            $(document).on('click', '.read-button', function (event) {
                console.log("Read button clicked");
                event.preventDefault();
                var feed = this.hash.substr(1);
                $('#rss-modal').foundation('reveal', 'open', {
                    type: "POST",
                    url: '/ajax/getfeed',
                    data: {feed_id: feed}
                });
            });
        });


        function loadMyFeeds(limit) {
            $("#my-feeds").load('/ajax/userfeeds/' + limit);
        }

        function loadPublicFeeds(limit) {
            $("#public-feeds").load('/ajax/publicfeeds/' + limit);
        }

    </script>
{% endblock %}