{% if user_feeds %}
    <h2>My Feeds</h2>

    <ul class="small-block-grid-1 medium-block-grid-2">
        {% for feed in user_feeds %}
            <li>{{ feed.getTitle() }}
                <a href="#{{ feed.getId() }}" class="right button tiny read-button success">Read</a>
            </li>
        {% endfor %}
    </ul>

{% else %}
    <h2 class="subheader">You haven't added any feeds yet!</h2>
{% endif %}

